$navLogo : #ffffff;
$navText : #ffffff;
$commonText : #ffffff;
$darkText : #474747;
$navBg : linear-gradient(45deg, #000105, #001175);
$heroBg : linear-gradient(135deg, #000105, #001697);
$aboutBg : #000C52;